1.	Write a Python Program to Find the Factorial of a Number?
2.	Write a Python Program to Display the multiplication Table?
3.	Write a Python Program to Print the Fibonacci sequence?
4.	Write a Python Program to Check Armstrong Number?
5.	Write a Python Program to Find Armstrong Number in an Interval?
6.	Write a Python Program to Find the Sum of Natural Numbers?

Q1.Write a Python Program to Find the Factorial of a Number?

In [10]:
#ANSWER Q1:
def factorial(n):
    x=1
    for i in range(1,n+1):
        x=x*i
    return x
factorial(5)

120

Q2.Write a Python Program to Display the multiplication Table?

In [17]:
#Answer Q2:
def mult_Table(n):
    for i in range(1,10+1):
        print("{}*{} = ".format(n,i) , n*i)

In [20]:
mult_Table(4)

4*1 =  4
4*2 =  8
4*3 =  12
4*4 =  16
4*5 =  20
4*6 =  24
4*7 =  28
4*8 =  32
4*9 =  36
4*10 =  40

Q3.Write a Python Program to Print the Fibonacci sequence?

In [28]:
#AnswerQ3:
def fib(n):
    a=0
    b=1
    if n==1:
        print(a)
    else:
        print(a)
        print(b)
        for i in range(2,n):
            c=a+b
            a=b
            b=c
            print(c)
            
fib(13)

0
1
1
2
3
5
8
13
21
34
55
89
144

Q4.Write a Python Program to Check Armstrong Number?

In [36]:
#ANSWER Q4:
def isarmstrong(n):
    m=len(str(n))
    sum=0
    temp=n
    
    while temp != 0:
        k=temp%10
        sum=sum+k**m
        temp=temp//10
        
    if sum==n:
        print("the number {} is armstrong number".format(n))
    else:
        print("the number {} is not an armstrong number".format(n))

In [37]:
isarmstrong(1634)

the number 1634 is armstrong number

In [38]:
isarmstrong(153)

the number 153 is armstrong number

In [39]:
isarmstrong(1345)

the number 1345 is not an armstrong number

Q5.Write a Python Program to Find Armstrong Number in an Interval?

In [35]:
#Answer Q5:
def armstrong(x,y):
    
    for i in range(x,y+1):    
        m=len(str(i))
        sum=0
        temp=i

        while temp != 0:
            k=temp%10
            sum=sum+k**m
            temp=temp//10

        if sum==i:
            print(i)
        else:
            pass

In [40]:
armstrong(1,1000)

1
2
3
4
5
6
7
8
9
153
370
371
407

Q6.Write a Python Program to Find the Sum of Natural Numbers?

In [44]:
#Answer Q6:
def sum_natural(n):
    x=0
    if n==0:
        print("please enter natural numbers above zero")
    else:
        for i in range(1,n+1):
            x+=i
    return x

In [45]:
sum_natural(2)

3

In [46]:
sum_natural(10)

55